html {
    background-color: #282828;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100%;
    width: 100%;
    margin: 2px;
    padding: 2px;
    overflow: hidden;
}

#loginArea {
    background-color: #383838;
    color: #DCDCDC;
    width: 650px;
    height: 350px;
    border: 1px solid #000;
    margin: 0 auto;
    margin-top: 150px;
}

#loginText {
    width: 100%;
    margin-top: 70px;
    text-align: center;
}

#loginFormArea {
    width: 100%;
    margin-top: 40px;
    text-align: center;
}

#username {
    background-color: #DCDCDC;
    height: 50px;
    width: 300px;
    padding: 0px 5px;
    font-size: 26px;
    outline: none;
    outline-offset: 0;
}

#loginSubmit {
    color: #000;
    background-color: #DCDCDC;
    font-size: 26px;
    border: 1px solid #000;
    height: 54px;
    width: 100px;
    cursor: pointer;
    outline: none;
    outline-offset: 0;
}

#loginSubmit:hover {
    color: #DCDCDC;
    background-color: #000;
}

#chatArea {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #282828;
}

#usersArea {
    background-color: #383838;
    height: 100%;
    width: 20%;
    border-right: 1px solid #000;
    float: left;
}

#onlineUsersText {
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
}

#onlineUsersText h1 {
    color: #DCDCDC;
}

#onlineUsers {
    margin-top: 40px;
}

#users {
    color: #DCDCDC;
    margin-left: 20px;
}

#users li {
    margin-top: 10px;
}

#messageArea {
    color: #DCDCDC;
    width: calc(80% - 1px);
    height: 100%;
    background-color: #383838;
    float: right;
}

#displayMessageArea {
    width: 100%;
    height: 90%;
    background-color: #282828;
    border-top: 1px solid transparent;
}

#messages {
    margin: 3px;
    padding: 3px;
}

#chatArea ul {
    height: 100%;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

#messages li {
    list-style-type: none;
    padding: 10px 10px;
}

#messages li:nth-child(odd) {
    background-color: #383838;
}

#messageFormArea {
    width: 100%;
    height: 10%;
    background-color: #282828;
    border-top: 1px #000;
}

#message {
    height: 82px;
    width: 90%;
    font-size: 26px;
    padding: 0px 5px;
    outline: none;
    outline-offset: 0;
    background-color: #DCDCDC;
}

#messageSubmit {
    color: #DCDCDC;
    height: 94px;
    width: 70px;
    background-color: #282828;
    border: 1px solid #000;
    font-size: 26;
    margin-bottom: 2px;
    cursor: pointer ;
}

#messageSubmit:hover {
    color: #DCDCDC;
    background-color: #000;
}